<!DOCTYPE html>
<html>
  <head>
    <title>Ladies Day 2018 @ Tooploox</title>
    <link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/apple_touch_icon.png" rel="apple-touch-icon" />
    <script src="/static/countdown.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="clock" data-timeout="<%= timeout %>"></div>
      </div>
    </div>
  </body>
</html>
