<!DOCTYPE html>
<html style="touch-action: none;">
  <head>
    <title>Super Mario Sis - Tooploox Edition</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/apple_touch_icon.png" rel="apple-touch-icon" />

    <meta name="viewport" content="width=960, user-scalable=no, minimal-ui"/>
    <meta name="mobileoptimized" content="0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <style type="text/css">
      @font-face {
        font-family: "VT323";
        src: url(/static/fonts/VT323-Regular.ttf) format("truetype");
      }

      body {
        margin: 0;
        background-color: #000;
      }
      canvas {
        position: fixed;
        top: 0;
        left: 0;
      }
    </style>
  </head>

  <body>
    <img id="mario" src="/static/hero.png" style="display:none;" />
    <img id="ghost" src="/static/ghost.png" style="display:none;" />
    <img id="tiles" src="/static/super-mario-tiles-2x.png" style="display:none;" />
    <img id="enemies" src="/static/super-mario-enemies-2x.png" style="display:none;" />
    <img id="icons" src="/static/icons.png" style="display:none;" />

    <canvas
        id="foreground"
        width="960"
        height="700"
        data-username="<%= username %>"
        data-shortname="<%= shortname %>"
        data-animationOffset="<%= animationOffset %>"
    >
      Your browser does not support canvas element.
    </canvas>

    <script src="/static/game.js"></script>

    <script src="/static/3rd/qtree.js" type="text/javascript"></script>
    <script src="/static/3rd/underscore.js" type="text/javascript"></script>
    <script src="/static/3rd/backbone.native.js" type="text/javascript"></script>
    <script src="/static/3rd/backbone.js" type="text/javascript"></script>

    <script src="/static/src/adjust-viewport.js" type="text/javascript"></script>
    <script src="/static/src/shapes.js" type="text/javascript"></script>
    <script src="/static/src/core.js" type="text/javascript"></script>
    <script src="/static/src/character.js" type="text/javascript"></script>
    <script src="/static/src/input.js" type="text/javascript"></script>
    <script src="/static/src/hero.js" type="text/javascript"></script>
    <script src="/static/src/world.js" type="text/javascript"></script>
    <script src="/static/src/local-storage.js" type="text/javascript"></script>
    <script src="/static/src/camera.js" type="text/javascript"></script>
    <script src="/static/src/editor.js" type="text/javascript"></script>

    <script src="/static/mario.js" type="text/javascript"></script>
    <script src="/static/tiles.js" type="text/javascript"></script>
    <script src="/static/artifacts.js" type="text/javascript"></script>
    <script src="/static/ghost.js" type="text/javascript"></script>
    <script src="/static/enemies.js" type="text/javascript"></script>
    <script src="/static/display.js" type="text/javascript"></script>

    <script src="/static/main.js" type="text/javascript"></script>
  </body>
</html>
