<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ladies Day 2018 @ Tooploox</title>
    <link href="/static/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <link href="/static/apple_touch_icon.png" rel="apple-touch-icon" />
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <script src="/static/login.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <form method="post" class="form-signin">
        <img class="form-icon" src="/static/joy.png" />
        <h2 class="form-signin-heading">Join the adventure</h2>
        <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
        <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
      </form>
    </div>
  </body>
</html>
