body {
  background: #eee !important;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-icon{
  width: 70px;

}

.form-signin {
  max-width: 380px;
  padding: 50px 45px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 100px rgba(0,0,0,0.1);
  text-align: center;
}

.form-signin .form-signin-heading{
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 300;
  height: auto;
  padding: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin button:hover{
  background-color: #3D5AFE;
}

.form-signin button{
  background-color: #536DFE;
  letter-spacing: 0.05em;
  border-radius: 3px;
  font-weight: 300;
}
