@import '~flipclock/compiled/flipclock';

html, body {
  height: 100%;
}
body {
  margin: 0;
  background: #FAFAFA;
}
.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row {
  width: auto;
}
